[Unit]
Description=Script service
After=network.target network-online.target
Wants=network-online.target

[Service]
User=mrtom
Group=mrtom
Environment=AUDIODRIVER=alsa
ExecStart=php /home/mrtom/codigos_pruebas/puerta_lapaz1828/server.php

[Install]
WantedBy=multi-user.target
